@model ZenExpressoCore.Models.SupportTask

@{
    ViewBag.Title = "Delete "+ @Model.taskName;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
 
@if (ViewBag.Deleted == null)
{


<div class="card col-md-12">
    <div>
        <div class="card-header">

            <h3 class="">Delete : <span class="text-info">@Model.taskName</span> </h3>
        </div>
         <div class="card-body">

            <div class="flex">

                
                <form asp-controller="SupportTask" asp-action="DeleteTask" enctype="multipart/form-data" method="post">
                    <div class="form-group row">
                        @Html.HiddenFor(f => f.id)
                        <div class="alert alert-warning">
                            <label class="control-label">Are you sure you want to Delete :   <strong> @Model.taskName!</strong></label>

                            <p>
                                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            </p>
                        </div>
                    </div>

                </form>
                

            </div>

        </div>
    </div>
</div>
   
}
else if ((bool)ViewBag.Deleted)
{
<div class="card col-md-12">
    <div>
        <div class="card-header">

            <h3 class="">Delete <span class="bold"> Successful</span></h3>
        </div>
         <div class="card-body">

            <div class="alert alert-success">
                Data successfully Deleted
            </div>
            <a href="@Url.Action("ListTasks", "SupportTask")" class="btn btn-primary btn-lg">  Back to list</a>
        </div>
    </div>
</div>
   
}
else
{
    <div class="alert alert-danger"> <strong>Oh snap!</strong> <a class="alert-link" href="#">An error occured</a> and try submitting again. </div>
}
