
@using ZenExpressoCore
@model ZenExpresso.Models.TaskResultViewModel
@{
    ViewBag.Title = @Model.supportTask.description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="app">
    <input type="hidden" value="@Model.supportTask.id" id="__supportTaskId" />
    @if (Model.supportTask.taskType == ZenExpressoCore.Constants.TaskType.BasicTaskFlow)
    {
        @await Html.PartialAsync("_ExecuteBasicTask", Model.supportTask)
    }
    else
    {
        @await Html.PartialAsync("_ExecuteAdvancedTask", Model)
    }


</div>

@if (Model.supportTask.taskType == ZenExpressoCore.Constants.TaskType.AdvancedTaskFlow)
{
    @section MyScripts {
        <script type="text/javascript">
            (function ($) {
                angular
                    .module('app')
                    .factory('BeforeRenderDataStore', BeforeRenderDataStore);
                BeforeRenderDataStore.$inject = [];
                function BeforeRenderDataStore() {
                    var beforeRenderResults = @Html.Raw(Model.taskResult.taskFlowResults.ToJsonString());
                    var clientRenderFlows = @Html.Raw(Model.clientRenderFlows.ToJsonString());
                    var queryData = @Html.Raw(Model.queryData);
                    function getBeforeRenderResults() {
                        return beforeRenderResults;
                    }
                    function getClientRenderFlows() {
                        return clientRenderFlows;
                    }
                    function getQueryData() {
                        return queryData;
                    }
                    return {
                        getBeforeRenderResults: getBeforeRenderResults,
                        getClientRenderFlows: getClientRenderFlows,
                        getQueryData:getQueryData
                    }
                }
            })(window.jQuery);
        </script>
    }
}
