@using ZenExpressoCore
@{
    var userPreviledges = User.GetPreviledges();
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title - @SettingsData.InstallSettings.appName</title>
    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex" />
    <partial name="_HeadLinks"/>
</head>

<body class="layout-app ">
    <div class="preloader">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>
    <div id="spinnerContainer" class="myspinner"></div>
    <!-- Drawer Layout -->

    <div class="mdk-drawer-layout js-mdk-drawer-layout"
         data-push=data-push
         data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
            <!-- Navbar -->

            <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary=data-primary>
                <!-- Navbar Toggler -->
                <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0"
                        type="button"
                        data-toggle="sidebar">
                    <span class="material-icons">short_text</span>
                </button>

                <!-- // END Navbar Toggler -->
                <!-- Navbar Brand -->

                <a href="/"
                   class="navbar-brand mr-16pt d-lg-none">
                    <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                        <span class="avatar-title rounded bg-primary">
                            <img src="~/assets/images/logo.jpg" alt="s-logo" />
                        </span>
                    </span>
                    <span class="d-none d-lg-block">Pass</span>
                </a>

                <!-- // END Navbar Brand -->

                <span class="d-none d-md-flex align-items-center mr-16pt">
                </span>

                @if (userPreviledges.HasPreviledges())
                {
                    if (userPreviledges.canCreateTask)
                    {
                        <a href="@Url.Action("CreateSupportTask", "SupportTask")" class="btn btn-outline-dark "> <i class="material-icons ">launch</i> <span>Basic Task</span> </a>
                        <a href="@Url.Action("CreateAdvancedTask", "SupportTask")" class="add_user btn btn-outline-dark" style="margin-left:5px"> <i class="material-icons icon--plus">launch</i> <span>Advanced Task</span> </a>
                    }
               }

                <div class="flex"></div>

                <!-- Navbar Menu -->

                <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                    <div class="nav-item dropdown">
                        <a href="#"
                           class="nav-link d-flex align-items-center dropdown-toggle"
                           data-toggle="dropdown"
                           data-caret="false">
                            <span class="avatar avatar-sm mr-8pt2">
                                <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header"><strong>@User.Identity.Name</strong></div>
                            <a class="dropdown-item h5 text-info" href="@Url.Action("Index", "Manage")"> Account Settings</a>
                            <div class="dropdown-item">
                                <form method="POST" action="@Url.Action("Logout", "Account")">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-power-off"></i> Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // END Navbar Menu -->
            </div> 
            <!-- Page Content -->
            <!-- Replace this with your page content -->
            <div class=" page__container flex my-32pt">
                @RenderBody()
            </div>
            <!-- // END Replace this with your page content -->
            <!-- // END Page Content -->
            <!-- Footer -->
            @await Html.PartialAsync("_Footer.cshtml")
            <!-- // END Footer -->
        </div>
        <!-- // END drawer-layout__content -->
        <!-- Drawer -->

        <div class="mdk-drawer js-mdk-drawer"
             id="default-drawer">
            <div class="mdk-drawer__content">
                <div class="sidebar sidebar-dark-pickled-bluewood sidebar-left"
                     data-perfect-scrollbar=data-perfect-scrollbar>
                    <!-- Sidebar Content -->
                    <a href="/"
                       class="sidebar-brand ">
                        <!-- <img class="sidebar-brand-icon" src="~/images/illustration/student/128/white.svg" alt="Luma"> -->
                        <span class="avatar avatar-xl sidebar-brand-icon h-auto"> 
                            <span class="avatar-title rounded ">
                                <img src="~/assets/images/logo.jpg" class="img-fluid" alt="logo" />
                            </span>
                        </span>
                        <span>@SettingsData.InstallSettings.appName</span>
                    </a>
                    @await Html.PartialAsync("_MenuPartial2")
                </div>
            </div>
        </div>

        <!-- // END Drawer -->

    </div>
<partial name="_VendorScripts"/>
<partial name="_AppScripts"/>
@await RenderSectionAsync("MyScripts", required: false)
</body>

</html>