@using ZenExpresso
@{
    var userPreviledges = User.GetPreviledges();
}

@if (userPreviledges.HasPreviledges())
{
    if (userPreviledges.canCreateTask)
    {
        <div class="sidebar-heading">Support Tasks</div>
        <ul class="sidebar-menu"> 
            <li class="sidebar-menu-item active">
                <a class="sidebar-menu-button"
                   href="@Url.Action("CreateAdvancedTask", "SupportTask")">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">launch</span>
                    <span class="sidebar-menu-text">Create Advanced Task</span>
                </a>
            </li>
            <li class="sidebar-menu-item ">
                <a class="sidebar-menu-button"
                   href="@Url.Action("CreateSupportTask", "SupportTask")">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">launch</span>
                    <span class="sidebar-menu-text">Create Task</span>
                </a>
            </li>
            <li class="sidebar-menu-item ">
                <a class="sidebar-menu-button"
                   href="@Url.Action("ListTasks", "SupportTask")">
                    <span class="fa fa-tasks sidebar-menu-icon sidebar-menu-icon--left"></span>
                    <span class="sidebar-menu-text">List Tasks</span>
                </a>
            </li>
            <li class="sidebar-menu-item ">
                <a class="sidebar-menu-button"
                   href="@Url.Action("ListExecutedTasks", "SupportTask")">
                    <span class="fa fa-tasks sidebar-menu-icon sidebar-menu-icon--left"></span>
                    <span class="sidebar-menu-text">List Executed Tasks</span>
                </a>
            </li> 
        </ul>
    }
    

    <div class="sidebar-heading">Manage</div>
    <ul class="sidebar-menu">

        @if (userPreviledges.canCreateTask)
        {
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button"
                   href="@Url.Action("ManageTopMenus", "Setup")">
                    <span class=" sidebar-menu-icon sidebar-menu-icon--left">
                        <i class="fa fa-tasks"></i>
                    </span>
                    <span class="sidebar-menu-text">Manage Menus</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button"
                   href="@Url.Action("ManageDataSources", "Setup")">
                    <span class=" sidebar-menu-icon sidebar-menu-icon--left">
                        <i class="fa fa-database"></i>
                    </span>
                    <span class="sidebar-menu-text">Manage DataSources</span>
                </a>
            </li>
        }
       
       @if (userPreviledges.canCreateUser)
       {
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="@Url.Action("CreateUser", "Account")">
                   <span class="sidebar-menu-icon sidebar-menu-icon--left">
                       <i class="fa fa-user-plus "></i>
                   </span>
                   <span class="sidebar-menu-text">Add User</span>
               </a>
           </li>
       }
        @if (userPreviledges.canManageUserRoles)
       {
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="@Url.Action("ManageRoles", "Manage")">
                   <span class="sidebar-menu-icon sidebar-menu-icon--left">
                       <i class="fa fa-tasks "></i>
                   </span>
                   <span class="sidebar-menu-text">Manage Roles</span>
               </a>
           </li>
       }
       @if (userPreviledges.canCreateAdmin)
       {
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="@Url.Action("ManageAdmins", "Manage")">
                   <span class="fa fa-user-cog sidebar-menu-icon sidebar-menu-icon--left"></span>
                   <span class="sidebar-menu-text">Manage Admins</span>
               </a>
           </li>
       }
       @if (userPreviledges.canCreateTask)
       {
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="@Url.Action("ReloadMemory", "Setup")">
                   <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">refresh</span>
                   <span class="sidebar-menu-text">Reload Memory</span>
               </a>
           </li>
       }
       
    </ul> 

    @if (userPreviledges.canManageLogs)
    {
        <div class="sidebar-heading">DbLog Management</div>
        <ul class="sidebar-menu">

            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button"
                   href="@Url.Action("Index", "DbLogManager")">
                    <span class="fa fa-history sidebar-menu-icon sidebar-menu-icon--left"></span>
                    <span class="sidebar-menu-text">Register Log</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button"
                   href="@Url.Action("ListApps", "DbLogManager")">
                    <span class="fa fa-history sidebar-menu-icon sidebar-menu-icon--left"></span>
                    <span class="sidebar-menu-text">List Apps</span>
                </a>
            </li>
        </ul>
    } 
}

@await Component.InvokeAsync("SupportMenus")

 