@using ZenExpresso
    <ul>
        <li class="left_nav_active theme_border">
        </li>
        @if (User.IsAdmin())
        {
            <li>
                <a href="javascript:void(0);"> <i class="fa fa-wrench"></i>Database Log Mgmt <span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul>
                    <li> <a href="@Url.Action("Index", "DbLogManager")"><span>&nbsp;</span> <i class="fa fa-bars"></i> <b>Register Log</b> </a> </li>
                    <li> <a href="@Url.Action("ListApps", "DbLogManager")"><span>&nbsp;</span> <i class="fa fa-bars"></i><b>Registered Apps</b> </a> </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);"> <i class="fa fa-wrench"></i>Setup<span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul>
                    <li> <a href="@Url.Action("ManageTopMenus", "Setup")"><span>&nbsp;</span> <i class="fa fa-tasks"></i> <b>Manage Menus</b> </a> </li>
                    <li> <a href="@Url.Action("ManageDataSources", "Setup")"><span>&nbsp;</span> <i class="fa fa-tasks"></i> <b>Manage DataSources</b> </a> </li>
                    <li> <a href="@Url.Action("ManageAdmins", "Manage")"><span>&nbsp;</span> <i class="fa fa-tasks"></i> <b>Manage Admins</b> </a> </li>
                    <li> <a href="@Url.Action("ReloadMemory", "Setup")"><span>&nbsp;</span> <i class="fa fa-tasks"></i> <b>Reload Memory</b> </a> </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);"> <i class="fa fa-wrench"></i>Support Tasks<span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul>
                    <li> <a href="@Url.Action("CreateSupportTask", "SupportTask")"><span>&nbsp;</span> <i class="fa fa-tasks"></i> <b>Create Task</b> </a> </li>
                    <li> <a href="@Url.Action("ListTasks", "SupportTask")"><span>&nbsp;</span> <i class="fa fa-tasks"></i> <b>Manage Tasks</b> </a> </li>
                    <li> <a href="@Url.Action("ListExecutedTasks", "SupportTask")"><span>&nbsp;</span> <i class="fa fa-tasks"></i> <b>Task History</b> </a> </li>
                </ul>
            </li>
        }

        @await Component.InvokeAsync("SupportMenus")

    </ul>