@model ZenExpresso.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

 

 <div class="row card col-md-12" >
        <div class="block-web">
            <div class="card-header pb-0">
                <h3 class="">@ViewBag.Title</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                       
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class="was-validated", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    if (ViewBag.Changed != null)
    {
        if (ViewBag.Changed == true)
        {
            <div class="form-group row">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                    <div class="alert alert-success">
                        Password successfully changed
                    </div>  
                </div>
            </div>
        }
        else
        {
            <div class="form-group row">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                    <div class="alert alert-danger">
                        Error : @ViewBag.Error
                    </div>
                </div>
            </div>
        } 
    }
     
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.LabelFor(m => m.OldPassword, new {  @class = "col-md-4 form-label col-form-label"  })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control",required=true })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.NewPassword, new  { @class = "col-md-4 form-label col-form-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" ,required=true})
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 form-label col-form-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control",required=true })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4"></label>
        <div class="col-md-8">
            <input type="submit" class="btn btn-primary float-right" value="Change password" />
        </div>
    </div>
}
 </div>
</div>

                
            </div><!--/porlets-content-->
        </div><!--/block-web-->
    </div><!--/col-md-12-->







@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@