@model ZenExpresso.Models.DbLogManagerViewModel

@{
    ViewBag.Title = "Application Logs";

}

  

<div class="row">
    <div class="col-lg-12">
        <section class="panel default blue_title h2">
            <div class="panel-heading">Application <span class="semi-bold">Logs</span> </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>App Name</th>
                            <th>Db Name</th>
                            <th>Table name</th>
                            <th>Date Field</th>
                            <th>Search Fields</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var app in Model.appLogs)
                    {
                        <tr>
                            <td>@app.appname</td>
                            <td>@app.dbname</td>
                            <td>@app.tablename</td>
                            <td>@app.dateField</td>
                            <td>@app.searchFields</td>
                            <td>
                                <a class="btn btn-danger" href="@Url.Action("DeleteApp",new {id=app.id})">Delete App</a>
                                <a class="btn btn-warning" href="@Url.Action("ClearLogs",new {id=app.id})">Clear Logs</a>
                                <a class="btn btn-success" href="@Url.Action("SearchLogs",new {id=app.id})">Search</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div></div>
        </section>
    </div>
</div>